<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block title %}
    <title>Dealership Review</title>
    {% endblock title %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <style>
      body {
        background-color: #353a40;
      }
    </style>
  </head>

  <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'djangoapp:index' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'djangoapp:about' %}"
              aria-disabled="true"
              >About Us</a
            >
          </li>
        </ul>
        <a
          class="nav-link mr-sm-5"
          href="{% url 'djangoapp:contact' %}"
          tabindex="-1"
          aria-disabled="true"
          >Contact Us</a
        >
        {% if user.is_authenticated %}
        <li>
          <span class="navbar-text mr-sm-2"
            >Username: {{ user.username }}
          </span>
          <a
            class="btn btn-outline-danger my-2 my-sm-0"
            href="{% url 'djangoapp:logout' %}"
            >Logout</a
          >
        </li>
        {% else %}
        <form
          class="form-inline my-2 my-lg-0"
          action="{% url 'djangoapp:login' %}"
          method="post"
          novalidate
        >
          {% csrf_token %}
          <input
            type="text"
            class="form-control mr-sm-2"
            name="username"
            placeholder="Username"
            aria-describedby="validationTooltipUsernamePrepend"
            required
          />
          <input
            type="password"
            class="form-control mr-sm-2"
            name="password"
            placeholder="Password"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
            type="submit"
          >
            Log In
          </button>
          <a
            class="btn btn-outline-info my-2 my-sm-0"
            href="{% url 'djangoapp:registration' %}"
            >Sign Up</a
          >
        </form>
        {% endif %}
      </div>
    </nav>
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% block content %} {% endblock content %}
  </body>
</html>
